<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인 페이지</title>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<main class="login-page">
  <div class="login-box">
    <h2>LOGIN Page</h2>
    <form th:action="@{/users/login}" method="post">
      <div class="input-group">
        <input type="email" class="form-control" name="email" id="email" placeholder="이메일을 입력해주세요" required />
      </div>
      <div class="input-group">
        <input type="password" class="form-control" name="password" id="password" placeholder="비밀번호를 입력해주세요" required />
      </div>
      <button class="submitBtn" type="submit">Login</button>
    </form>
  </div>
</main>
</body>
</html>
